@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: #121219;
}

.actor-header {
    color: #fb3842;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.row {
    margin-right: 0 !important;
}

.card {
    background-color: #2c2c2c;
    height: 24rem;
}

.card-image {
    padding: 1rem 1rem 0 1rem;
    height: 18rem;
}

.card-img-top {
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

#inputActor {
    background-color: #2d2d2d;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 10px;
}

.card-title,
.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
