* {
  margin: 0;
  box-sizing: border-box;
}

.logo {
  padding-left: 20px;
}

.logo a:last-child:hover {
  color: white;
}
.logo a:first-child:hover {
  color: #fb3842;
}

.netplix {
  font-style: normal;
  font-weight: normal;
  font-family: Haettenschweiler;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #fb3842;
  padding-right: 10px;
  text-decoration: none;
}

.register {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding-left: 15px;
  color: white;
  text-decoration: none;
  border-left: 3px solid white;
}

section {
  background-color: #121219;
  padding-bottom: 50px;
}

.navbar {
  background: #1f1f1f;
}

.container {
  color: white;
}

.welcome {
  display: flex;
  justify-content: center;
}

.hello p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  padding-left: 15px;
  color: white;
  text-decoration: none;
}

.netplix1 p {
  font-style: normal;
  font-weight: normal;
  font-family: Haettenschweiler;
  font-size: 56px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #fb3842;
  padding-left: 10px;
  text-decoration: none;
}

form {
  display: flex;
  justify-content: center;
}

.form-box {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  border-radius: 10px;
  height: 75px;
  margin: 18px;
  width: 830px;
}

.label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-left: 30px;
  margin-top: 18px;
  width: 200px;
  color: #ffffff;
}

.input input {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;

  font-family: Poppins;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.login-button {
  background-color: #e50914;
  border-radius: 50px;
  margin: 18px;
}

.log1 {
  margin-top: 30px;
  display: flex;
  width: 830px;
  height: 63px;
  justify-content: center;
  align-items: center;
}

.button-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 27px;
  padding-right: 10px;
}

.button-text input {
  border: none;
  background-color: #e50914;
  outline: none;
  color: white;
  margin-bottom: 5px;
}

.button-arrow {
  color: white;
}

.register-now {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.register-now-text {
  text-decoration: none;
  color: #fb3842;
}

.register-now-text:hover {
  color: white;
}

.forgot-pass {
  display: flex;
  justify-content: right;
  margin-right: 18px;
}

.forgot-pass div a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: right;
  font-weight: normal;
}

.forgot-pass div a:hover {
  color: #e50914;
}
